name: python_task

on:
  push:
    paths:
      - "2. python task/python_task.py"
      - ".github/workflows/python_task.yaml"
  pull_request:
    paths:
      - "2. python task/python_task.py"
      - ".github/workflows/python_task.yaml"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Run tests
        working-directory: "2. python task"
        run: python python_task.py